project:
  type: website
  output-dir: _site

website:
  title: "Data-to-Decisions Studio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: software.qmd
        text: Software
      - href: blog.qmd
        text: Blog
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    toc: true